html, body { 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%;
}

body.light {
	--text-color: white;
	--bg-color: black;
}
//theme dark
body.dark {
	--text-color: black;
	--bg-color: white;
}

body {
	background-color: var(--text-color);
	color: var(--bg-color);
	//position:relative;
	//height: 100%;
}

.toggler {
	width: 400px;
	//height: 200px;
}

.wrapper1 { 
    width: 100%; 
    height: 100%; 
    //background: SkyBlue;
    top: 0px;
}

.wrapper2 { 
    width: 100%; 
    height: 100%; 
    //background: aqua;
}
.container1 { 
    width: 100%; 
    height: 48px;
    //background: green;
}
.container2 { 
    width: 100%;
    height: 90%;
    //background: red;
}

#app{
	//position:relative;
	width: 100%; 
	height: 100%;
}

#main{
	position:absolute;
	width: 100%; 
	height: 100%;
	top:0px;
	left:0px;
}

#view{
	width: 100%;
	height: 100%;
}

#messagelist{
	//position:relative;
	//width:100%;
	//width:100px;
	//height:100%;
	overflow:auto;
	background-color: gray;
}

.parent {
    //width: 250px;
    //height: 300px;
    border: 1px solid black;
}
.child1 {
    background-color: red;
    overflow: hidden;
}

.child2 {
    background-color: blue;
    overflow: auto;
}
