body.light {
	--text-color: white;
	--bg-color: black;
}
//theme dark
body.dark {
	--text-color: black;
	--bg-color: white;
}

body {
	background-color: var(--text-color);
	color: var(--bg-color);
}

.toggler {
	//position: relative;
	//position:absolute;
	//position: fixed;
	//z-index: auto;
	//z-index: -1;
	//z-index: 1500;
	width: 200px; 
	height: 200px;
}
